body {
    font-family: Ariel;
    background-color: #f4f4f4;
}

h1 {
    color: darkblue;
}

.container {
    width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
}

input {
    padding: 10px;
    width: 70%;
}

button {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    transition: 0.2s;
}

button:hover {
    opacity: 0.8;
}

.add-button:hover {
    background-color: darkblue;
}

.delete-button {
    background-color: red;
    transition: 0.2s;
}

.delete-button:hover {
    background-color: darkred;
}

.complete-button {
    background-color: green;
    transition: 0.2s;
}

.complete-button:hover {
    background-color: rgb(0, 73, 0);
}

.task {
    background: #eeeeee;
    padding: 10px;
    margin-top: 10px;
}

.task-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-buttons {
    display: flex;
    gap: 10px;
}

.filters {
    margin: 15px 0;
}

.filters a {
    text-decoration: none;
    padding: 8px 12px;
    background-color: #dddddd;
    color: black;
    border-radius: 5px;
    margin-right: 5px;
    transition: 0.2s;
}

.filters a:hover {
    background-color: #cccccc;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode .container {
    background-color: #1e1e1e;
}

body.dark-mode .task {
    background-color: #2a2a2a;
}

body.dark-mode h1 {
    color: white;
}

.edit-button {
    text-decoration: none;
    background-color: rgb(42, 130, 164);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    transition: 0.2s;
}

.edit-button:hover {
    background-color: rgb(26, 101, 158);
}

.due-date {
    font-size: 14px;
    color: #7b7b7b;
    margin: 5px 0;
}

.due-date .dark-mode {
    color: #e6e6e6;
}